* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
:root {
  --color-blue: rgb(24, 7, 92);
  --color-grey: rgb(185, 179, 179);
  --color-white:rgba(255, 255, 255, 0.949);
  --color-lightPurple: rgb(230, 96, 230)


:}

header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.view-score {
  color: purple;
  font-size: large;
}
.time-interval {
  padding: 0px 20px 0px;
  font-size: large;
}
section {
  align-content: center;
  margin: 50px 400px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-align: center;
}
section button {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  margin: 20px;
  background-color: var(--color-blue);
  border-radius: 10px;
  border: none;
}
section button:hover{
    background-color: rgb(230, 96, 230);
}

.question-answer-wrapper {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
}

.answers-list{
    text-align: left;
      
}

.answer{
  background-color: var(--color-blue);
  color:var(--color-white);
  margin:10px 10px 10px 0px;
  list-style-type: none;
  border-radius: 10px;
  font-size:15px;
  padding:7px 70px 7px 7px;
  background-size: 50px;
  }
  .answer:hover{
    background-color: rgb(230, 96, 230);
  }

.display-result  {
  text-align: left;
  font-style: italic;
  margin-top: 20px;
  padding:10px 0 0 0;
  color: var(--color-grey);
  font-size: 25px;
  border-top: 1px solid var(--color-grey);
}

.final-score-initial-container  {
    text-align: left;
}

.total-score {
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bolder;
}
.enter-initials{
    padding: 5px 100px 5px 5px;
    background-color: rgb(237, 212, 237);
    border: 1px solid palevioletred;
    border-radius: 10px;
}

.btn-submit{
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
  margin: 20px;
  background-color: var(--color-blue);
  border-radius: 10px;
  border: none;

}
.btn-submit:hover{
  background-color: rgb(230, 96, 230);
}

.view-scorelist-wrapper  {
  text-align: left;
  
}

.view-score-heading{
  padding-left:30px;
  padding-bottom: 15px;
}
.score-list{
  padding-left:40px;
  padding-bottom: 10px;
  padding-top:10px;
  background-color: rgb(233, 196, 233);
  opacity:50%;
  margin:15px;
  
}
.initial-score{
  font-weight: bold;
}



footer {
  font-size: medium;
  text-align: center;
  padding: 150px 0 0 0;
}
